@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap') ;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap') ;
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap') ;


	/* 
	/* color: rgba(255,255,255,1) ; color: #ffffff ; Whites ;
	/* color: rgba(255,255,255,.6) ;

	/* color: rgba(255,254,209,1) ; color: #fffed1 ; Very pale yellow ;

	/* color: rgba(32,34,36,1) ; color: #202124 ; Grays;
	/* color: rgba(32,34,36,.8) ;
	/* color: rgba(32,34,36,.6) ;
	/* color: rgba(32,34,36,.4) ;
	/* color: rgba(32,34,36,.2) ;
	/* color: rgba(32,34,36,.1) ;
	/* color: rgba(32,34,36,.08) ;
	/* color: rgba(32,34,36,.05) ;
	/* color: rgba(32,34,36,.02) ;

		/* color: rgba(219,68,55,1) ; color: #db4437 ; Bright red ;
		/* color: rgba(219,68,55,.6) ;
		/* color: rgba(219,68,55,.1) ;
		/* color: rgba(219,68,55,.05) ;
		/* color: rgba(219,68,55,.02) ;

		/* color: rgba(86,133,244,1) ; color: #4285f4 ; Bright blue ;
		/* color: rgba(86,133,244,.6) ;
		/* color: rgba(86,133,244,.1) ;
		/* color: rgba(86,133,244,.05) ;
		/* color: rgba(86,133,244,.02) ;

		/* color: rgba(15,157,88,1) ; color: #0f9d58 ; Bright green ;
		/* color: rgba(15,157,88,.6) ;
		/* color: rgba(15,157,88,.1) ;
		/* color: rgba(15,157,88,.05) ;
		/* color: rgba(15,157,88,.02) ;

		/* color: rgba(244,160,0,1) ; color: #f4b400 ; Bright yellow ;
		/* color: rgba(244,160,0,.6) ;
		/* color: rgba(244,160,0,.1) ;
		/* color: rgba(244,160,0,.05) ;
		/* color: rgba(244,160,0,.02) ;

		/* color: rgba(134,64,229,1) ; color: #8640e5 ; Bright violet ;
		/* color: rgba(134,64,229,.6) ;
	*/


@media screen {

	::selection {
		background-color: rgba(255,254,209,1) ;
		border-radius: 0em 1em ;
	}

	/* PAGE SETUP */

	html {
	}

	body {
		background-color: rgba(86,133,244,.02) ;
		color: rgba(32,34,36,1) ;
		font-family: 'Roboto',sans-serif ;
		-webkit-font-smoothing: antialiased ;
		font-smoothing: antialiased ;
		margin: 2em 4em ;
	}

	main {
		background-color: rgba(255,255,255,1) ;
		border-radius: 1em ;
		font-size: 1em ;
		font-weight: 400 ;
		line-height: 1.5 ;
		padding: 4em ;
	}

	header,
	footer {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto Mono',monospace ;
		font-size: .8em ;
		font-weight: 300 ;
		line-height: 1.5 ;
	}

		header:hover,
		footer:hover {
		}

	section.header-bg {
		display: none ;
	}

	section.footer-bg {
		display: none ;
	}


	header .header-anchors {
		display: none ;
	}

		header:hover .header-anchors {
		display: block ;
		}

	/* PAGE SECTION */

	section {
		margin: 0em auto 1em auto ;
		padding: 1em ;
	}

	article section {
		margin: 0em auto ;
		padding: 1em ;
	}

	section.index,
	section.latest,
	section.pinned,
	section.info,
	section.relations {
		border-radius: 0em 1em 0em 0em ;
	}

	section.index {
		border: 1px solid rgba(86,133,244,.1) ;
		border-radius: 1em ;
	}

	section.latest {
		background-color: rgba(244,160,0,.02) ;
		box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
		-webkit-box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
		-moz-box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
		-khtml-box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
		margin: 0em 0em 1.5em 0em ;
	}

		section.latest:hover {
			background-color: rgba(244,160,0,.05) ;
			box-shadow: -8px 8px 0px rgba(244,160,0,1) ;
			-webkit-box-shadow: -8px 8px 0px rgba(244,160,0,1) ;
			-moz-box-shadow: -8px 8px 0px rgba(244,160,0,1) ;
			-khtml-box-shadow: -8px 8px 0px rgba(244,160,0,1) ;
		}

	section.pinned {
		background-color: rgba(219,68,55,.02) ;
		box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
		-webkit-box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
		-moz-box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
		-khtml-box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
		margin: 0em 0em 1.5em 0em ;
	}

		section.pinned:hover {
			background-color: rgba(219,68,55,.05) ;
			box-shadow: -8px 8px 0px rgba(219,68,55,1) ;
			-webkit-box-shadow: -8px 8px 0px rgba(219,68,55,1) ;
			-moz-box-shadow: -8px 8px 0px rgba(219,68,55,1) ;
			-khtml-box-shadow: -8px 8px 0px rgba(219,68,55,1) ;
		}

	section.info {
		border: 1px solid rgba(86,133,244,.1) ;
		border-radius: 1em ;
	}

	section.relations {
		background-color: rgba(86,133,244,.02) ;
		box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
		-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
		-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
		-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
	}

		section.relations:hover {
			background-color: rgba(86,133,244,.02) ;
			box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
			-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
			-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
			-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
		}

	section.bios,
	section.cite,
	section.contact-card {
		background-color: rgba(86,133,244,.05) ;
		border-radius: 0em 1em 0em 0em ;
		box-shadow: -8px 8px 0px rgba(86,133,244,1) ;
		-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,1) ;
		-moz-box-shadow: -8px 8px 0px rgba(86,133,244,1) ;
		-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,1) ;
		margin: 0em 0em 1.5em 0em ;
	}

	section.cite table tr.tr-cite-section {
		font-size: .8em ;
	}

		section.bios:hover table td:hover,
		section.cite:hover table td:hover,
		section.contact-card:hover table td:hover {
			background-color: rgba(86,133,244,.05) ;
			border-radius: 1em ;
		}

		section.bios:hover table td:active,
		section.cite:hover table td:active,
		section.contact-card:hover table td:active {
			background-color: rgba(86,133,244,.1) ;
			cursor: grabbing ;
		}

	section.bios span.th-expands,
	section.bios span.td-expands,
	section.cite span.th-expands,
	section.cite span.td-expands {
		display: none ;
	}

		section.bios:hover span.th-expands,
		section.bios:hover span.td-expands,
		section.cite:hover span.th-expands,
		section.cite:hover span.td-expands {
			display: inline ;
		}

	section.summary {
		border-top: 4px solid rgba(86,133,244,.2) ;
		border-bottom: 1px dashed rgba(86,133,244,.2) ;
		font-family: 'Faustina',serif ;
		font-size: 1.2em ;
	}

	section.summary-expands-hover {
		border-radius: 1em ;
		padding: 0em ;
	}

	section.summary-expands,
	span.path-expands {
		display: none ;
	}

		section.summary-expands-hover:hover section.summary-expands {
			display: block ;
		}

		section.summary-expands-hover:hover {
			background-color: rgba(86,133,244,.02) ;
		}

		section.summary-expands-hover:hover small.note-expands {
			background-color: rgba(86,133,244,.05) ;
			border-radius: 1em 1em 0em 0em ;
		}

		span.shortcut-link:hover span.path-expands {
			display: inline ;
			font-weight: 400 ;
		}

	section.article-tocontents {
/*		background-color: rgba(86,133,244,.02) ; */
		border: 1px solid rgba(86,133,244,.1) ;
		border-radius: 1em ;
		font-size: .8em ;
	}

	section.article-keypoints {
		background-color: rgba(219,68,55,.05) ;
		border: 1px solid rgba(219,68,55,.2) ;
		border-radius: 1em ;
		font-size: .8em ;
		padding: 2em ;
	}

	section.latest table th,
	section.pinned table th,
	section.relations table th {
		display: none ;
	}

	section.latest table tr,
	section.pinned table tr,
	section.relations table tr {
		display: none ;
	}

		section.latest:hover table tr,
		section.pinned:hover table tr,
		section.relations:hover table tr {
			display: table-row ;
		}


	/* HEADINGS */

	h1,
	h2 {
		font-weight: 700 ;
	}

	h3,
	h4 {
		font-weight: 700 ;
	}

	h5 {
		font-weight: 500 ;
	}

	h6 {
		font-weight: 400 ;
	}

	section h3.istype-highlight {
		color: rgba(219,68,55,1) ;
		border-bottom: 1px dashed rgba(219,68,55,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.pinned h3.istype-highlight small.is-notif {
		color: rgba(219,68,55,.6) ;
		background-color: rgba(219,68,55,.1) ;
		border-radius: 1em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	section h3.istype-latest {
		color: rgba(244,160,0,1) ;
		border-bottom: 1px dashed rgba(244,160,0,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.latest h3.istype-latest small.is-notif {
		color: rgba(244,160,0,.6) ;
		background-color: rgba(244,160,0,.1) ;
		border-radius: 1em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	section h3.istype-reference {
		color: rgba(86,133,244,1) ;
		border-bottom: 1px dashed rgba(86,133,244,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.bios h3.istype-reference small.is-notif {
		color: rgba(86,133,244,.6) ;
		background-color: rgba(86,133,244,.1) ;
		border-radius: 1em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	section h3.istype-relations {
		color: rgba(32,34,36,.6) ;
		border-bottom: 1px dashed rgba(86,133,244,.6) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.relations h3.istype-relations small.is-notif {
		color: rgba(32,34,36,.6) ;
		background-color: rgba(86,133,244,.05) ;
		border-radius: 1em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	footer p.legend small.is-notif {
		color: rgba(32,34,36,.6) ;
		background-color: rgba(86,133,244,.05) ;
		border-radius: 1em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

		section.pinned:hover h3.istype-highlight small.is-notif,
		section.latest:hover h3.istype-latest small.is-notif,
		section.bios:hover h3.istype-reference small.is-notif,
		section.relations:hover h3.istype-relations small.is-notif,
		footer p.legend:hover small.is-notif {
			display: none ;
		}

	section h3.article-tocontents {
		color: rgba(32,34,36,1) ;
		border-bottom: 1px dashed rgba(86,133,244,.2) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section h3.article-keypoints {
		color: rgba(219,68,55,1) ;
		border-bottom: 1px dashed rgba(219,68,55,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.summary h2 b {
	}

	section.summary h2 span.h2-subtitle {
		color: rgba(32,34,36,.6) ;
		font-style: italic ;
		font-weight: 600 ;
	}

	section.summary h2 span.h2-subtitle br {
		display: none ;
	}

	section.summary h6.is-author {
		color: rgba(219,68,55,1) ;
		font-weight: 700 ;
	}

	section.summary h6.is-author b {
		color: rgba(219,68,55,1) ;
		font-weight: 900 ;
	}

	section.summary h6 {
		color: rgba(32,34,36,.8) ;
		font-family: 'Roboto',sans-serif ;
		text-transform: uppercase ;
	}

	section.article-tocontents td.td-description span.tocontents-subtitle {
		color: rgba(32,34,36,.6) ;
		font-style: italic ;
	}


	/* TAGS */

	section.summary h5 span.discipline {
		color: rgba(219,68,55,1) ;
		font-weight: 700 ;
		margin: 0em .5em 0em 0em ;
		white-space: nowrap ;
	}

	section.summary h5 span.discipline-area,
	section.summary h5 span.institution,
	section.summary h5 span.institution-group,
	section.summary p.shortcuts span.shortcut-link,
	section.summary p.keywords span.article-keywords {
		font-family: 'Roboto',sans-serif ;
		font-weight: 500 ;
		margin: 0em .5em 0em 0em ;
		white-space: nowrap ;
	}

		section.summary h5 span.discipline-area:hover,
		section.summary h5 span.institution:hover,
		section.summary h5 span.institution-group:hover,
		section.summary p.shortcuts span.shortcut-link:hover {
		}

	section.summary h5 span.byline-expands {
		display: none ;
	}

		section.summary h5:hover span.byline-expands {
			display: inline ;
		}

	section.summary h5 span.byline-by,
	section.summary h5 span.byline-on,
	section.summary h5 span.byline-in {
		font-family: 'Roboto',sans-serif ;
		font-weight: 500 ;
		margin: 0em .5em 0em 0em ;
		white-space: nowrap ;
	}

	section.summary hr.shortcuts,
	section.summary p.shortcuts {
		display: none ;
	}

		section.summary:hover hr.shortcuts,
		section.summary:hover p.shortcuts {
			display: block ;
		}

	section.summary p.shortcuts span.shortcut-link,
	section.summary p.keywords span.article-keywords {
		font-family: 'Roboto',sans-serif ;
		font-size: .8em ;
		font-weight: 500 ;
		white-space: nowrap ;
	}

	section.summary p.shortcuts span.shortcut-link {
/*		background-color: rgba(86,133,244,.05) ; */
		border-radius: 1em ;
		padding: .5em ;
	}

		section.summary p.shortcuts span.shortcut-link:hover {
			background-color: rgba(86,133,244,.1) ;
		}

	section.summary p.shortcuts span.is-highlight {
/*		background-color: rgba(219,68,55,.05) ; */
		border: 1px solid rgba(219,68,55,.2) ;
	}

		section.summary p.shortcuts span.is-highlight:hover {
			background-color: rgba(219,68,55,.1) ;
		}

	section.summary p.shortcuts span.is-reference {
/*		background-color: rgba(86,133,244,.05) ; */
		border: 1px solid rgba(86,133,244,.2) ;
	}

		section.summary p.shortcuts span.is-reference:hover {
			background-color: rgba(86,133,244,.1) ;
		}

	section.summary p.shortcuts span.is-feature {
/*		background-color: rgba(15,157,88,.05) ; */
		border: 1px solid rgba(15,157,88,.2) ;
	}

		section.summary p.shortcuts span.is-feature:hover {
			background-color: rgba(15,157,88,.1) ;
		}

	section.summary p.shortcuts span.is-version {
/*		background-color: rgba(244,160,0,.05) ; */
		border: 1px solid rgba(244,160,0,.2) ;
	}

		section.summary p.shortcuts span.is-version:hover {
			background-color: rgba(244,160,0,.1) ;
		}


	/* HYPERLINKS */

	a {
		border-bottom: 1px dotted ;
		color: rgba(32,34,36,.6) ;
		text-decoration: none ;
	}

		a:hover {
			border-bottom: 1px solid ;
		}

		a:visited {
/*			color: rgba(32,34,36,.6) ; */
		}

	a.path {
		font-weight: 400 ;
	}

	a.path-root {
		font-weight: 700 ;
	}

	a.path,
	a.path-root,
	a.path-parent,
	a.anchor {
		color: rgba(32,34,36,1) ;
	}

	a.path-parent {
		color: rgba(32,34,36,.8) ;
		font-weight: 500 ;
	}
		a.path:hover {
		}

		a.anchor:hover {
			cursor: s-resize ;
		}

		a.path-root:hover,
		a.path-parent:hover {
		}

	a.status-notfound {
		filter: alpha(opacity=40) ;
		opacity: .4 ;
	}

	p.shortcuts span.shortcut-link,
	p.shortcuts span.shortcut-link a {
		color: rgba(32,34,36,.8) ;
	}

	p.shortcuts span.is-highlight,
	p.shortcuts span.is-highlight a {
		color: rgba(219,68,55,1) ;
	}

	p.shortcuts span.is-reference,
	p.shortcuts span.is-reference a {
		color: rgba(86,133,244,1) ;
	}

	p.shortcuts span.is-feature,
	p.shortcuts span.is-feature a {
		color: rgba(15,157,88,1) ;
	}

	p.shortcuts span.is-version,
	p.shortcuts span.is-version a {
		color: rgba(244,160,0,1) ;
	}

	a.ahref-thumbnail,
	a.ahref-emoji {
		border: none ;
		text-decoration: none ;
	}

	a.ahref-thumbnail img {
		border-bottom: 1px dotted ;
	}

		a.ahref-thumbnail:hover img {
			border-bottom: 1px solid ;
		}

	header a.path,
	header a.path-root,
	header a.path-parent,
	header a.anchor {
		color: rgba(32,34,36,.8) ;
	}

	section.summary blockquote a {
		font-weight: 700 ;
	}

	section.summary blockquote span.blockquote-quo {
		color: rgba(219,68,55,.4) ;
		font-family: 'Roboto',sans-serif ;
		font-weight: 900 ;
	}

	li u a.path,
	table td.td-description a.path {
		font-weight: 500 ;
	}

	table td.td-link:hover span.td-link-expands a {
		color: rgba(32,34,36,.6) ;
		font-weight: 400 ;
	}

	table tr.tr-item a:visited,
	section.latest table tr.tr-item a:visited,
	section.pinned table tr.tr-item a:visited,
	section.index table tr.tr-item a:visited,
	section.relations table tr.tr-item a:visited {
		color: rgba(134,64,229,.6) ;
		font-weight: 400 ;
	}

	/* HORIZONTAL RULES */

	hr {
		border: none ;
		color: rgba(86,133,244,.2) ;
	}

	hr.solid {
		border-bottom: 1px solid rgba(86,133,244,.2) ;
	}

	hr.dashed {
		border-bottom: 1px dashed rgba(86,133,244,.2) ;
	}

	hr.istype-highlight {
		border-bottom: 2px solid rgba(219,68,55,1) ;
		display: none ;
	}

	hr.istype-latest {
		border-bottom: 2px solid rgba(244,160,0,1) ;
		display: none ;
	}

	hr.istype-reference {
		border-bottom: 2px solid rgba(86,133,244,1) ;
		display: none ;
	}

	hr.istype-relations {
		border-bottom: 2px solid rgba(86,133,244,.6) ;
		display: none ;
	}

	header hr,
	footer hr,
	section.index hr,
	section.latest hr,
	section.pinned hr,
	section.bios hr,
	section.cite hr,
	section.info hr,
	section.gallery hr,
	section.contact-card hr {
		display: none ;
	}

	hr.shortcuts {
		border-bottom: 2px solid rgba(86,133,244,.6) ;
	}


	/* MARK */

	mark {
/*		background-color: rgba(255,254,209,1) ; */
		background-color: transparent ; 
		border-radius: 0em 1em ;
		color: inherit ;
	}

	a.is-highlight,
	a.istype-pinned,
	a.istype-latest,
	a.is-version,
	a.is-reference,
	a.is-feature {
		border-radius: 0em 1em ;
	}

	li.is-highlight {
		background-color: rgba(219,68,55,.05) ;
		border-radius: 1em ;
/*		border-bottom: 1px solid rgba(219,68,55,.1) ; */
	}

	li.is-highlight u,
	li.is-highlight u a {
/*		color: rgba(219,68,55,1) ; */
	}

	li.tba {
		background-color: rgba(244,160,0,.05) ;
		border-radius: 1em ;
/*		border-bottom: 1px solid rgba(244,160,0,.1) ; */
	}

	li.tba u,
	li.tba u a {
/*		color: rgba(244,160,0,1) ; */
	}

	blockquote.is-highlight {
		background-color: rgba(219,68,55,.05) ;
		-webkit-box-shadow: -8px 0px 0px rgba(219,68,55,.4) ;
		-moz-box-shadow: -8px 0px 0px rgba(219,68,55,.4) ;
		-khtml-box-shadow: -8px 0px 0px rgba(219,68,55,.4) ;
	}

	mark.is-author,
	mark.is-creator,
	mark.is-editor {
		background-color: transparent ;
	}

	mark.is-feature {
		background-color: rgba(15,157,88,.1) ;
		border-radius: 0em 1em ;
		color: rgba(15,157,88,1) ;
	}


	/* PARAGRAPH, LIST, SMALL */

	p,
	li {
	}

	section.summary p.summary,
	section.summary p.summary-contd,
	section.summary li.summary,
	section.summary li.summary-contd {
		font-size: 1.2em ;
	}

	section.summary p.quoted,
	section.summary p.summary i,
	section.summary li.summary i {
		font-style: italic ;
	}

	blockquote {
		border-radius: 0em 1em 1em 0em ;
		background-color: rgba(86,133,244,.02) ;
		color: rgba(32,34,36,.8) ;
		margin: 1em 0em 1em 1em ;
		padding: 1em ;
		-webkit-box-shadow: -8px 0px 0px rgba(86,133,244,.2) ;
		-moz-box-shadow: -8px 0px 0px rgba(86,133,244,.1) ;
		-khtml-box-shadow: -8px 0px 0px rgba(86,133,244,.1) ;
	}

	section.summary blockquote {
		font-size: 1.6em ;
		font-style: italic ;
		font-weight: 700 ;
	}

	#Resume section blockquote.is-details {
		display: none ;
	}

		#Resume section:hover blockquote.is-details {
		display: block ;
		font-size: .8em ;
		}

	#Article blockquote {
		font-size: .8em ;
	}

	small {
	}

	small.header-note {
		display: none ;
	}

	small.note,
	small.note-expands {
		background-color: rgba(86,133,244,.02) ;
		border-radius: 1em ;
		color: rgba(32,34,36,.6) ;
		display: block ;
		font-family: 'Roboto',sans-serif ;
		font-size: .8em ;
		font-style: italic ;
		padding: 1em ;
	}

	small.note {
		margin: 1em 0em ;
	}

	small.note-expands {
		cursor: context-menu ;
		margin: 0em ;
	}

		small.header-note:hover,
		small.note:hover,
		small.note-expands:hover {
		}

	ol {
	}

	ul {
		list-style-type: square ;
	}

	li u,
	blockquote u {
		font-weight: 500 ;
		text-decoration: none ;
	}

	/* PAGE ARTICLE */

	article {
		font-family: 'Faustina',serif ;
		font-size: 1.2em ;
		font-weight: 400 ;
		line-height: 1.5 ;
		margin: 2em auto ;
		width: 80% ;
	}

	article h3 {
		font-weight: 700 ;
	}

	article h4 {
		font-weight: 600 ;
	}

	article h5 {
		font-weight: 500 ;
	}

	article p,
	article li {
		font-weight: 400 ;
	}

	article code {
		background-color: rgba(86,133,244,.1) ;
		font-family: 'Roboto Mono',monospace ;
		font-size: .8em ;
	}

	article sup {
	}

	article figure {
		border: 1px solid rgba(86,133,244,.1) ;
	}

	article figcaption {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto',sans-serif ;
		font-size: .8em ;
	}


	/* TABLE */

	table {
	 	border-collapse: collapse ;
		font-size: .8em ;
		width: 100% ;
	}

	table tr.tr-th {
		background-color: none !important ;
		border-top: none !important ;
		border-bottom: none !important ;
		cursor: default !important ;
	}

		table tr.tr-th:hover {
			background-color: none !important ;
			border-top: none !important ;
			border-bottom: none !important ;
			cursor: default !important ;
			-webkit-box-shadow: none !important ;
			-moz-box-shadow: none !important ;
			-khtml-box-shadow: none !important ;
		}

	table tr.tr-core-supdir,
	table tr.tr-core-subdir,
	table tr.tr-core-item,
	section.index table tr.tr-item,
	section.relations table tr.tr-item {
		border-top: 1px solid rgba(86,133,244,.05) ;
		border-bottom: 1px solid rgba(86,133,244,.05) ;
	}

		table tr.tr-core-supdir:hover,
		table tr.tr-core-subdir:hover,
		table tr.tr-core-item:hover,
		section.index table tr.tr-item:hover,
		section.relations table tr.tr-item:hover {
			background-color: rgba(86,133,244,.02) ;
			border-top: 1px solid rgba(86,133,244,.1) ;
			border-bottom: 1px solid rgba(86,133,244,.2) ;
			cursor: pointer ;
/*			-webkit-box-shadow: -4px 0px 0px rgba(86,133,244,.4) ;
			-moz-box-shadow: -4px 0px 0px rgba(86,133,244,.4) ;
			-khtml-box-shadow: -4px 0px 0px rgba(86,133,244,.4) ; */
		}

		table tr.tr-core-subdir,
		table tr.tr-core-item td.td-link:hover,
		section.index table tr.tr-item td.td-link:hover,
		section.relations table tr.tr-item td.td-link:hover {
			background-color: rgba(86,133,244,.02) ;
		}

	table tr.tr-core-item td.td-description,
	table tr.tr-core-item td.td-description a,
	table tr.tr-istype-latest td.td-description,
	table tr.tr-istype-latest td.td-description a,
	table tr.tr-istype-pinned td.td-description,
	table tr.tr-istype-pinned td.td-description a {
		font-weight: 600 ;
	}

	section.latest table tr.tr-item,
	section.pinned table tr.tr-item {
		border-top: 1px solid rgba(244,160,0,.1) ;
		border-bottom: 1px solid rgba(244,160,0,.1) ;		
	}

	section.latest table tr.tr-item,
	section.index table tr.tr-istype-latest,
	section.relations table tr.tr-istype-latest {
/*		background-color: rgba(244,160,0,.02) ;
		border-top: 1px solid rgba(244,160,0,.1) ;
		border-bottom: 1px solid rgba(244,160,0,.1) ; */
	}

		section.latest table tr.tr-item:hover {
			background-color: rgba(244,160,0,.05) ;
			border-top: 1px solid rgba(244,160,0,.1) ;
			border-bottom: 1px solid rgba(244,160,0,.2) ;
			cursor: pointer ;
/*			-webkit-box-shadow: -4px 0px 0px rgba(244,160,0,.6) ;
			-moz-box-shadow: -4px 0px 0px rgba(244,160,0,.6) ;
			-khtml-box-shadow: -4px 0px 0px rgba(244,160,0,.6) ; */
		}

		section.index table tr.tr-istype-latest:hover,
		section.relations table tr.tr-istype-latest:hover {
			background-color: rgba(244,160,0,.02) ;
			border-top: 1px solid rgba(244,160,0,.1) ;
			border-bottom: 1px solid rgba(244,160,0,.2) ;
			cursor: pointer ;
/*			-webkit-box-shadow: -4px 0px 0px rgba(244,160,0,.6) ;
			-moz-box-shadow: -4px 0px 0px rgba(244,160,0,.6) ;
			-khtml-box-shadow: -4px 0px 0px rgba(244,160,0,.6) ; */
		}

		table tr.tr-istype-latest:hover td.td-description,
		table tr.tr-istype-latest:hover td.td-description a,
		table tr.tr-istype-latest:hover td.td-kind,
		table tr.tr-istype-latest:hover td.td-access {
			color: rgba(244,160,0,1) ;
		}

		section.latest table tr.tr-item td.td-link:hover,
		section.index table tr.tr-istype-latest td.td-link:hover,
		section.relations table tr.tr-istype-latest td.td-link:hover {
			background-color: rgba(244,160,0,.02) ;
		}

	section.pinned table tr.tr-item,
	section.index table tr.tr-istype-pinned,
	section.relations table tr.tr-istype-pinned {
/*		background-color: rgba(219,68,55,.02) ;
		border-top: 1px solid rgba(219,68,55,.1) ;
		border-bottom: 1px solid rgba(219,68,55,.1) ; */
	}

		section.pinned table tr.tr-item:hover {
			background-color: rgba(219,68,55,.05) ;
			border-top: 1px solid rgba(219,68,55,.1) ;
			border-bottom: 1px solid rgba(219,68,55,.2) ;
			cursor: pointer ;
/*			-webkit-box-shadow: -4px 0px 0px rgba(219,68,55,.6) ;
			-moz-box-shadow: -4px 0px 0px rgba(219,68,55,.6) ;
			-khtml-box-shadow: -4px 0px 0px rgba(219,68,55,.6) ; */
		}

		section.index table tr.tr-istype-pinned:hover,
		section.relations table tr.tr-istype-pinned:hover {
			background-color: rgba(219,68,55,.02) ;
			border-top: 1px solid rgba(219,68,55,.1) ;
			border-bottom: 1px solid rgba(219,68,55,.2) ;
			cursor: pointer ;
/*			-webkit-box-shadow: -4px 0px 0px rgba(219,68,55,.6) ;
			-moz-box-shadow: -4px 0px 0px rgba(219,68,55,.6) ;
			-khtml-box-shadow: -4px 0px 0px rgba(219,68,55,.6) ; */
		}

		table tr.tr-istype-pinned:hover td.td-description,
		table tr.tr-istype-pinned:hover td.td-description a,
		table tr.tr-istype-pinned:hover td.td-kind,
		table tr.tr-istype-pinned:hover td.td-access {
			color: rgba(219,68,55,1) ;
		}

		section.pinned table tr.tr-item td.td-link:hover,
		section.index table tr.tr-istype-pinned td.td-link:hover,
		section.relations table tr.tr-istype-pinned td.td-link:hover {
			background-color: rgba(219,68,55,.02) ;
		}

	section.info table {
		color: rgba(32,34,36,.8) ;
	}

	section.index-gallery table th.th-link,
	section.index-gallery table td.td-link,
	section.index-gallery table th.th-datemodified,
	section.index-gallery table td.td-datemodified,
	section.index-gallery table th.th-description,
	section.index-gallery table td.td-description,
	section.index-gallery table th.th-kind,
	section.index-gallery table td.td-kind,
	section.index-gallery table th.th-access,
	section.index-gallery table td.td-access {
		display: none ;
	}

		/* TABLE TH */

		table th {
			color: rgba(32,34,36,.6) ;
			text-align: left ;
			vertical-align: top ;
		}

		table th.th-icon {
			max-width: 5% ;
		}

		table th.th-thumbnail {
			width: 95% ;
		}

		table th.th-link {
			max-width: 35% ;
		}

		table th.th-datemodified,
		table th.th-access {
			width: 10% ;
		}

		table th.th-description {
			width: 30% ;
		}

		table th.th-kind {
			width: 15% ;
		}

		table th.th-istype-pinned {
			color: rgba(219,68,55,1) ;
		}

		table th.th-istype-latest {
			color: rgba(244,160,0,1) ;
		}

		table th.th-istype-sortby {
		}

		section.bios table,
		section.cite table,
		section.contact-card table {
			cursor: grab ;
			font-size: 1em ;
		}

		section.bios table th,
		section.cite table th,
		section.contact-card table th {
			color: rgba(86,133,244,1) ;
		}

			section.bios table th,
			section.cite table th,
			section.contact-card table th {
				color: rgba(86,133,244,1) ;
			}

		section.cite table th,
		section.info table th,
		section.contact-card table th {
			padding: 0em 1em 0em 0em ;
			text-align: right ;
			vertical-align: top ;
			width: 15% ;
		}

		/* TABLE TD */

		table td {
			text-align: left ;
			vertical-align: top ;
		}

		table td.td-icon {
			color: rgba(32,34,36,.6) ;
		}

		table td.td-link {
			font-family: 'Roboto Mono',monospace ;
			padding-left: 1em ;
			text-indent: -1em ;
		}

		table td.td-link span.td-link-expands {
			display: none ;
		}

			table td.td-link:hover span.td-link-expands {
				color: rgba(32,34,36,.6) ;
				display: inline ;
			}

		table td.td-description {
			font-family: 'Faustina',serif ;
			font-size: 1.2em ;
			font-weight: 500 ;
		}

		table span.td-description-author {
			font-size: .8em ;
		}

		table td.td-kind,
		table td.td-access {
			color: rgba(32,34,36,.6) ;
			text-transform: uppercase ;
		}


	/* ELEMENT CLASSES */

	.byline,
	.byline a,
	.keywords,
	.keywords a {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto',sans-serif ;
	}

	span.byline-field {
		display: none ;
	}

		/* EMOJI */

		.is-emoji {
			font-style: normal !important ;
			margin: 0em .25em 0em 0em ;
		}

		/* IMG */

		section.header-image img {
			height: auto ;
			width: 100% ;
			-webkit-filter: grayscale(100%) ;
			filter: grayscale(100%) ;
		}

		section.gallery-index img,
		section.gallery img,
		section.index img {
			border: 1px solid rgba(86,133,244,.1) ;
			border-radius: 0em ;
			cursor: zoom-in ;
			max-height: 60px ;
		}

		section.is-author img {
			border: 1px solid rgba(86,133,244,.1) ;
			border-radius: 0em ;
			cursor: zoom-in ;
			max-height: 120px ;
		}

			section.gallery-index img:hover,
			section.gallery img:hover,
			section.index img:hover,
			section.is-author img:hover {
				border-radius: 1em ;
			}

			section.gallery-index img:active,
			section.gallery img:active,
			section.index img:active,
			section.is-author img:active {
				cursor: grabbing ;
				max-height: 100% ;
			}

	.lang-nl {
		font-style: italic ;
	}

	.hide,
	.is-notawarded {
		display: none ;
	}

	/* TYPES */

	.is-author,
	.is-author a,
	.is-creator,
	.is-creator a,
	.is-editor,
	.is-editor a {
		font-weight: 700 ;
	}

	section.summary h6.is-author,
	section.is-author,
	section.contact-card .is-author {
		background-color: transparent ;
	}

	a.is-highlight,
	a.istype-pinned {
		background-color: rgba(219,68,55,.1) ;
/*		color: rgba(219,68,55,1) ; */
	}

	a.istype-latest,
	a.is-version {
		background-color: rgba(244,160,0,.1) ;
/*		color: rgba(244,160,0,1) ; */
	}

	a.is-reference {
		background-color: rgba(86,133,244,.1) ;
/*		color: rgba(86,133,244,1) ; */
	}

	a.is-feature {
		background-color: rgba(15,157,88,.1) ;
/*		color: rgba(15,157,88,1) ; */
	}

	.is-comment {
	}

	.is-date,
	.is-date-intext {
		color: rgba(244,160,0,1) ;
	}

	.is-topic {
		color: rgba(219,68,55,1) ;
		border-radius: 0em 1em ;
		background-color: rgba(219,68,55,.1) ;
		font-weight: 700 ;
		margin: 0em .5em 0em 0em ;
	}

	.is-translation {
		color: rgba(32,34,36,.6) ;
		display: none ;
		font-style: italic ;
	}

	.is-cancelled {
		display: none ;
		text-decoration: line-through ;
	}

	/* LEGEND */

	footer p.legend span.legend-values-expands {
		display: none ;
	}

		footer p.legend:hover span.legend-values-expands {
			display: inline ;
		}

	footer p.legend span.is-highlight {
		color: rgba(219,68,55,1) ;
		border-radius: 0em 1em ;
		background-color: rgba(219,68,55,.1) ;
	}

	footer p.legend span.is-date {
		color: rgba(244,160,0,1) ;
		border-radius: 0em 1em ;
		background-color: rgba(244,160,0,.1) ;
	}

	footer p.legend span.is-reference {
		color: rgba(86,133,244,1) ;
		border-radius: 0em 1em ;
		background-color: rgba(86,133,244,.1) ;
	}

	footer p.legend span.is-feature {
		color: rgba(15,157,88,1) ;
		border-radius: 0em 1em ;
		background-color: rgba(15,157,88,.1) ;
	}

	footer p.legend span.is-visited {
		color: rgba(134,64,229,1) ;
		border-radius: 0em 1em ;
		background-color: rgba(134,64,229,.1) ;
	}


	/* DATED TAGS */

	.tba,
	.y2025 {
		filter: alpha(opacity=60) ;
		opacity: .6 ;
	}

	.y2022,
	.y2021,
	.y2020,
	.y2019,
	.y2018,
	.y2017 {
		filter: alpha(opacity=100) ;
		opacity: 1 ;
	}
	.y2016,
	.y2015 {
		filter: alpha(opacity=100) ;
		opacity: .6 ;
	}

	.y2014,
	.y2013,
	.y2012,
	.y2011,
	.y2010,
	.y2009,
	.y2008 {
		filter: alpha(opacity=60) ;
		opacity: .2 ;
	}

	.is-highlight,
	.tba:hover,
	.y2025:hover,

	.y2022:hover,
	.y2021:hover,
	.y2020:hover,
	.y2019:hover,
	.y2018:hover,
	.y2017:hover,
	.y2016:hover,
	.y2015:hover,
	.y2014:hover,
	.y2013:hover,
	.y2012:hover,
	.y2011:hover,
	.y2010:hover,
	.y2009:hover,
	.y2008:hover {
		filter: alpha(opacity=100) ;
		opacity: 1 ;
	}

}


@media screen and (max-width: 640px) {

	/* PAGE SETUP */

	body {
		font-size: .8em ;
		margin: 0em ;
		padding: 0em ;
	}

	main {
		overflow: hidden ;
		width: auto ;
	}

	header,
	footer {
	}

	section.summary {
		padding: 1em ;
	}

	section.summary blockquote {
		padding: 1em ;
	}

	section {
		margin: 1em 0em ;
		padding: 1em ;
	}

	article {
		margin: 1em 0em ;
		padding: 1em ;
		width: auto ;
	}

	article section {
		margin: 1em 0em ;
		padding: 0em ;
	}


	/* TABLE */

	table th.th-description,
	table td.td-description,
	table th.th-datemodified,
	table td.td-datemodified,
	table th.th-kind,
	table td.td-kind,
	table th.th-access,
	table td.td-access {
		display: none ;
	}


	/* PARAGRAPH, LIST, SMALL */

	small.header-note {
		background-color: rgba(255,254,209,1) ;
		border-radius: 1em ;
		color: rgba(32,34,36,1) ;
		display: block ;
		font-family: 'Roboto',sans-serif ;
		font-size: .8em ;
		font-style: italic ;
		padding: 1em ;
	}

}


@media print {

	/* PAGE SETUP */

	body,
	main,
	header,
	footer {
		color: rgba(32,34,36,1) ;
		font-family: 'Roboto',sans-serif ;
		font-size: 11pt ;
		font-weight: 400 ;
		line-height: 1.5 ;
	}

	header,
	section.index,
	section.bios,
	section.gallery,
	section.relations {
		display: none ;
	}

	a {
		color: rgba(32,34,36,1) ;
		text-decoration: none ;
	}

	mark {
		background-color: transparent ;
		color: rgba(32,34,36,1) ;
	}

	u {
		font-weight: 500 ;
	}


	/* TABLE */

	table,
	table tr,
	table th,
	table td {
		font-size: 9pt ;
		text-align: left ;
		vertical-align: top ;
	}

	section.index-gallery table th.th-link,
	section.index-gallery table td.td-link,
	section.index-gallery table th.th-datemodified,
	section.index-gallery table td.td-datemodified,
	section.index-gallery table th.th-description,
	section.index-gallery table td.td-description,
	section.index-gallery table th.th-kind,
	section.index-gallery table td.td-kind,
	section.index-gallery table th.th-access,
	section.index-gallery table td.td-access {
		display: none ;
	}


	/* ELEMENT CLASSES */

	section.header-image {
		display: none ;
	}

	section.summary p.shortcuts {
		display: none ;
	}

	section.gallery-index img,
	section.gallery img {
		max-height: 120px ;
	}

	section.bios span.th-expands,
	section.bios span.td-expands {
		display: none ;
	}

	footer span.legend-values-expands {
		display: none ;
	}

	.td-link-expands,
	.note,
	.note-expands {
		display: none ;
	}

	.hide,
	.is-notawarded {
		display: none ;
	}

	.is-emoji {
		font-style: normal !important ;
		margin: 0em .25em 0em 0em ;
	}


	/* TYPES */

	.is-author,
	.is-creator,
	.is-editor {
		font-weight: 500 ;
		text-decoration: underline ;
	}

	.is-topic {
		font-weight: 700 ;
	}

	.is-translation {
		display: none ;
	}

}

