Redirect 301 /papers/index.html /research/index.html
Redirect 301 /papers/a-technicity-of-collaboration.html /research/a-technicity-of-collaboration.html
Redirect 301 /papers/accounting-for-the-social.html /research/accounting-for-the-social.html
Redirect 301 /papers/api-governance.html /research/api-governance.html
Redirect 301 /papers/app-studies-conference-panel.html /research/app-studies-conference-panel.html
Redirect 301 /papers/apps-and-infrastructures-a-research-agenda.html /research/apps-and-infrastructures-a-research-agenda.html
Redirect 301 /papers/apps-and-infrastructures-call-for-abstracts.html /research/apps-and-infrastructures-call-for-abstracts.html
Redirect 301 /papers/calculation-in-digital-architecture.html /research/calculation-in-digital-architecture.html
Redirect 301 /papers/counter-mapping-surveillance.html /research/counter-mapping-surveillance.html
Redirect 301 /papers/diaspora-and-mapping-methodologies.html /research/diaspora-and-mapping-methodologies.html
Redirect 301 /papers/distributed-narratives.html /research/distributed-narratives.html
Redirect 301 /papers/facebooks-evolution.html /research/facebooks-evolution.html
Redirect 301 /papers/following-uvamooc-on-twitter.html /research/following-uvamooc-on-twitter.html
Redirect 301 /papers/how-partners-mediate-platform-power.html /research/how-partners-mediate-platform-power.html
Redirect 301 /papers/in-formed-spaces.html /research/in-formed-spaces.html
Redirect 301 /papers/making-the-car-platform-ready.html /research/making-the-car-platform-ready.html
Redirect 301 /papers/multi-situated-app-studies.html /research/multi-situated-app-studies.html
Redirect 301 /papers/pandemic-platform-governance.html /research/pandemic-platform-governance.html
Redirect 301 /papers/platform-and-app-histories.html /research/platform-and-app-histories.html
Redirect 301 /papers/reconstructing-web-history.html /research/reconstructing-web-history.html
Redirect 301 /papers/regramming-the-platform.html /research/regramming-the-platform.html
Redirect 301 /papers/search-as-research.html /research/search-as-research.html
Redirect 301 /papers/situating-the-marketization-of-data.html /research/situating-the-marketization-of-data.html
Redirect 301 /papers/social-media-and-platform-historiography.html /research/social-media-and-platform-historiography.html
Redirect 301 /papers/store-interface-package-connection.html /research/store-interface-package-connection.html
Redirect 301 /papers/studying-sociocultural-networks.html /research/studying-sociocultural-networks.html
Redirect 301 /papers/the-making-of-predictions.html /research/the-making-of-predictions.html
Redirect 301 /papers/the-platform-as-ecosystem.html /research/the-platform-as-ecosystem.html
Redirect 301 /papers/the-political-economy-of-social-data.html /research/the-political-economy-of-social-data.html
Redirect 301 /papers/the-technicity-of-platform-governance.html /research/the-technicity-of-platform-governance.html
Redirect 301 /papers/whats-in-the-social-graph.html /research/whats-in-the-social-graph.html

Redirect 301 /projects/index.html /design/index.html
Redirect 301 /projects/127-years-of-dutch-graphic-design.html /design/127-years-of-dutch-graphic-design.html
Redirect 301 /projects/app-support-ecologies.html /design/app-support-ecologies.html
Redirect 301 /projects/cultures-of-use-1970s-1980s.html /design/cultures-of-use-1970s-1980s.html
Redirect 301 /projects/de-platformsamenleving.html /design/de-platformsamenleving.html
Redirect 301 /projects/digital-pharmacology.html /design/digital-pharmacology.html
Redirect 301 /projects/distributed-identities.html /design/distributed-identities.html
Redirect 301 /projects/distributed-images.html /design/distributed-images.html
Redirect 301 /projects/distributed-narratives-creating-010.html /design/distributed-narratives-creating-010.html
Redirect 301 /projects/distributed-narratives-multiple-views.html /design/distributed-narratives-multiple-views.html
Redirect 301 /projects/exercises-in-style.html /design/exercises-in-style.html
Redirect 301 /projects/googleverse.html /design/googleverse.html
Redirect 301 /projects/huig-issue-12.html /design/huig-issue-12.html
Redirect 301 /projects/rotterdam-2057-blaak10.html /design/rotterdam-2057-blaak10.html
Redirect 301 /projects/rotterdam-2057.html /design/rotterdam-2057.html
Redirect 301 /projects/seeing-the-forest-for-the-trees.html /design/seeing-the-forest-for-the-trees.html
Redirect 301 /projects/studio-at-nn-de-cafe.html /design/studio-at-nn-de-cafe.html
Redirect 301 /projects/the-platform-society.html /design/the-platform-society.html
Redirect 301 /projects/the-political-economy-of-facebooks-platformisation-in-the-mobile-ecosystem.html /design/the-political-economy-of-facebooks-platformisation-in-the-mobile-ecosystem.html

Redirect 301 /research/bdes-thesis.html /research/distributed-narratives.html
Redirect 301 /research/ba-thesis.html /research/a-technicity-of-collaboration.html
Redirect 301 /research/ma-thesis.html /research/the-making-of-predictions.html
Redirect 301 /research/phd-thesis.html /research/the-platform-as-ecosystem.html
