@charset "utf-8" ;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap') ;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap') ;
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap') ;


@media screen {

	/* PAGE SETUP */

	html {
	}

	body {
		background-color: rgba(86,133,244,.05) ;
		color: rgba(32,34,36,1) ;
		font-family: 'Roboto',sans-serif ;
		-webkit-font-smoothing: antialiased ;
		font-smoothing: antialiased ;
		margin: 0em 0em 4em 0em ;
	}

	main {
		background-color: rgba(255,255,255,.6) ;
		font-size: 1em ;
		font-weight: 400 ;
		line-height: 1.5 ;
/*		margin: 1em ; */
		padding: 2em 8em ;
	}

	header,
	footer {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto Mono',monospace ;
		font-size: .83em ;
		font-weight: 400 ;
		line-height: 1.5 ;
		margin: 0em 10em ;
	}

	footer {
		font-size: .67em ;
	}

	section.header-bg,
	section.footer-bg {
		display: none ;
	}

	header .header-anchors {
		display: none ;
	}

		header:hover .header-anchors {
		display: block ;
		}


	/* PAGE HEADER NOTE */

	small.header-note-connect {
		background-color: rgba(86,133,244,.2) ;
		border-radius: .5em ;
		color: rgba(32,34,36,1) ;
		display: block ;
		font-family: 'Roboto',sans-serif ;
		font-size: 1em ;
		font-style: italic ;
		padding: 2em ;
	}

	small.header-note-connect a {
		color: rgba(32,34,36,1) ;
	}


	/* PAGE SECTION */

	section {
		margin: 0em auto 1em auto ;
		padding: 1em ;
	}

	article section {
		margin: 0em auto ;
		padding: 1em ;
	}

	section.latest {
		background-color: rgba(244,160,0,.02) ;
		margin: 0em 0em 1.5em 0em ;
		box-shadow: -8px 8px 0px rgba(244,160,0,.4) ;
		-webkit-box-shadow: -8px 8px 0px rgba(244,160,0,.4) ;
		-moz-box-shadow: -8px 8px 0px rgba(244,160,0,.4) ;
		-khtml-box-shadow: -8px 8px 0px rgba(244,160,0,.4) ;
	}

		section.latest:hover {
			background-color: rgba(244,160,0,.05) ;
			box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
			-webkit-box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
			-moz-box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
			-khtml-box-shadow: -8px 8px 0px rgba(244,160,0,.6) ;
		}

	section.pinned {
		background-color: rgba(219,68,55,.02) ;
		margin: 0em 0em 1.5em 0em ;
		box-shadow: -8px 8px 0px rgba(219,68,55,.4) ;
		-webkit-box-shadow: -8px 8px 0px rgba(219,68,55,.4) ;
		-moz-box-shadow: -8px 8px 0px rgba(219,68,55,.4) ;
		-khtml-box-shadow: -8px 8px 0px rgba(219,68,55,.4) ;
	}

		section.pinned:hover {
			background-color: rgba(219,68,55,.05) ;
			box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
			-webkit-box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
			-moz-box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
			-khtml-box-shadow: -8px 8px 0px rgba(219,68,55,.6) ;
		}

	section.topcited {
		background-color: rgba(86,133,244,.02) ;
		margin: 0em 0em 1.5em 0em ;
		box-shadow: -8px 8px 0px rgba(86,133,244,.4) ;
		-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.4) ;
		-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.4) ;
		-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.4) ;
	}

		section.topcited:hover {
			background-color: rgba(86,133,244,.05) ;
			box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
			-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
			-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
			-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
		}

	section.index {
/*		background-color: rgba(255,255,255,1) ; */
/*		background-color: rgba(86,133,244,.02) ; */
		border-radius: .5em ;
	}

	section.relations {
		background-color: rgba(86,133,244,.02) ;
		box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
		-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
		-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
		-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.1) ;
	}

		section.relations:hover {
			background-color: rgba(86,133,244,.05) ;
			box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
			-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
			-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
			-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.2) ;
		}

/*	section.latest,
	section.pinned,
	section.index,
	section.relations {
		padding: 1em 0em 1em 0em ;
	} */

	section.bios,
	section.cite,
	section.contact-card {
		background-color: rgba(86,133,244,.05) ;
		box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
		margin: 0em 0em 1.5em 0em ;
		-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
		-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
		-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.6) ;
	}

	section.cite table tr.tr-cite-section {
		background-color: rgba(86,133,244,.02) ;
		font-size: .83em ;
	}

		section.bios:hover table td:hover,
		section.cite:hover table td:hover,
		section.contact-card:hover table td:hover {
			background-color: rgba(86,133,244,.05) ;
			border-radius: .5em ;
		}

		section.bios:hover table td:active,
		section.cite:hover table td:active,
		section.contact-card:hover table td:active {
			background-color: rgba(86,133,244,.1) ;
			cursor: grabbing ;
		}

	section.bios span.th-expands,
	section.bios span.td-expands,
	section.cite span.th-expands,
	section.cite span.td-expands {
		display: none ;
	}

		section.bios:hover span.th-expands,
		section.bios:hover span.td-expands,
		section.cite:hover span.th-expands,
		section.cite:hover span.td-expands {
			display: inline ;
		}

	section.header-image {
		padding: 0em ;
	}

	section.summary {
		background-color: rgba(255,255,255,1) ;
/*		border-top: 4px solid rgba(86,133,244,.1) ;
		border-bottom: 1px dashed rgba(86,133,244,.1) ; */
		border-radius: 1em ;
		font-family: 'Faustina',serif ;
		font-size: 1.17em ;
		padding: 1em 4em ;
	}

	section.summary-expands {
		margin: 0em ;
		padding: 1em ;
/*		background-color: rgba(32,34,36,.02) ;
		-webkit-box-shadow: -6px 6px 0px rgba(32,34,36,.1) ;
		-moz-box-shadow: -6px 6px 0px rgba(32,34,36,.1) ;
		-khtml-box-shadow: -6px 6px 0px rgba(32,34,36,.1) ; */
	}

	section.summary-expands-hover {
		border: 1px solid rgba(32,34,36,.02) ;
		border-radius: .5em ;
		padding: 0em ;
	}

	section.summary-expands,
	section.summary-expands-details,
	span.path-expands {
		display: none ;
	}

		section.summary-expands-hover:hover section.summary-expands {
			display: block ;
		}

		section.summary-expands-hover:hover {
			background-color: rgba(32,34,36,.02) ;
/*			border: 1px solid rgba(32,34,36,.1) ; */
		}

		section.summary-expands-hover:hover small.note-expands {
			background-color: rgba(32,34,36,.05) ;
			border-radius: .5em .5em 0em 0em ;
		}

		span.shortcut-link:hover span.path-expands {
			display: inline ;
			font-weight: 400 ;
		}

	section.gallery {
		background-color: rgba(86,133,244,.02) ;
		border-radius: .5em ;
	}

	section.info {
/*		background-color: rgba(86,133,244,.02) ; */
/*		border: 1px solid rgba(86,133,244,.1) ; */
		border-radius: .5em ;
	}

	section.article-tocontents {
		background-color: rgba(86,133,244,.02) ;
		border: 1px solid rgba(86,133,244,.1) ;
		border-radius: .5em ;
		font-size: .83em ;
	}

	section.article-keypoints {
		background-color: rgba(219,68,55,.02) ;
		border: 1px solid rgba(219,68,55,.1) ;
		border-radius: .5em ;
		font-size: .83em ;
		padding: 2em ;
	}

	section.latest table th,
	section.pinned table th,
	section.topcited table th,
	section.relations table th {
		display: none ;
	}

	section.latest table tr,
	section.pinned table tr,
	section.topcited table tr,
	section.relations table tr {
		display: none ;
	}

		section.latest:hover table tr,
		section.pinned:hover table tr,
		section.topcited:hover table tr,
		section.relations:hover table tr {
			display: table-row ;
		}


	/* PAGE SECTION SUMMARY */

	section.summary p.summary,
	section.summary p.summary-contd,
	section.summary li.summary,
	section.summary li.summary-contd {
		font-size: 1.17em ;
	}

	section.summary p.quoted,
	section.summary p.quoted i,
	section.summary p.summary i,
	section.summary li.summary i {
		font-style: italic ;
	}

	section.summary blockquote {
		font-size: 1.5em ;
		font-style: italic ;
		font-weight: 700 ;
	}

	section.summary blockquote a {
		font-style: italic ;
		font-weight: 700 ;
	}

	section.summary blockquote span.blockquote-quo {
		color: rgba(219,68,55,.6) ;
		display: inline ;
		font-style: normal ;
		font-weight: 900 ;
	}

		/* SUMMARY TAGS */

		section.summary h5 span.byline-kind {
			color: rgba(219,68,55,1) ;
			font-weight: 600 ;
			margin: 0em .5em 0em 0em ;
		}

		section.summary h6 span.discipline {
			color: rgba(219,68,55,1) ;
			font-weight: 700 ;
			margin: 0em .5em 0em 0em ;
			white-space: nowrap ;
		}

		section.summary h6 span.discipline-area,
		section.summary h6 span.institution,
		section.summary h6 span.institution-group,
		section.summary p.shortcuts span.shortcut-link,
		section.summary p.keywords span.article-keywords {
			font-family: 'Roboto',sans-serif ;
			font-weight: 500 ;
			margin: 0em .5em 0em 0em ;
			white-space: nowrap ;
		}

		section.summary h6 span.byline-by,
		section.summary h6 span.byline-on,
		section.summary h6 span.byline-in {
			font-family: 'Roboto',sans-serif ;
			font-weight: 500 ;
			margin: 0em .5em 0em 0em ;
			white-space: nowrap ;
		}

		section.summary h5 span.byline-expands,
		section.summary h6 span.byline-expands {
			display: none ;
		}

			section.summary h5:hover span.byline-expands,
			section.summary h6:hover span.byline-expands {
				display: inline ;
			}

		/* SUMMARY SHORTCUTS, KEYWORDS */

		section.summary hr.shortcuts,
		section.summary p.shortcuts {
			display: none ;
		}

			section.summary:hover hr.shortcuts {
				display: block ;
			}

			section.summary:hover p.shortcuts {
/*				background-color: rgba(32,34,36,.02) ; */
				background-color: rgba(86,133,244,.05) ;
				border-radius: .5em ;
				display: block ;
				padding: 1em ;
			}

		section.summary p.shortcuts span.shortcut-link,
		section.summary p.keywords span.article-keywords {
			font-family: 'Roboto',sans-serif ;
			font-size: .83em ;
			font-weight: 400 ;
			white-space: nowrap ;
		}

		section.summary p.keywords span.article-keywords a {
			font-weight: 400 ;
		}

		section.summary p.shortcuts span.shortcut-link {
/*			background-color: rgba(86,133,244,.05) ; */
			background-color: rgba(255,255,255,.8) ;
			border: 1px solid rgba(86,133,244,.1) ;
			border-radius: 1em ;
			padding: .5em ;
		}

			section.summary p.shortcuts span.shortcut-link:hover {
				background-color: rgba(86,133,244,.1) ;
			}

		section.summary p.shortcuts span.is-highlighted {
/*			background-color: rgba(219,68,55,.05) ;
			border: 1px solid rgba(219,68,55,.1) ; */
		}

			section.summary p.shortcuts span.is-highlighted:hover {
				background-color: rgba(219,68,55,.1) ;
			}

		section.summary p.shortcuts span.is-reference {
/*			background-color: rgba(86,133,244,.05) ;
			border: 1px solid rgba(86,133,244,.1) ; */
		}

			section.summary p.shortcuts span.is-reference:hover {
				background-color: rgba(86,133,244,.1) ;
			}

		section.summary p.shortcuts span.is-feature {
/*			background-color: rgba(15,157,88,.05) ;
			border: 1px solid rgba(15,157,88,.1) ; */
		}

			section.summary p.shortcuts span.is-feature:hover {
				background-color: rgba(15,157,88,.1) ;
			}

		section.summary p.shortcuts span.is-version {
/*			background-color: rgba(244,160,0,.05) ;
			border: 1px solid rgba(244,160,0,.1) ; */
		}

			section.summary p.shortcuts span.is-version:hover {
				background-color: rgba(244,160,0,.1) ;
			}


	/* PAGE ARTICLE */

	article {
		background-color: rgba(255,255,255,1) ;
		border-radius: .5em ;
		font-family: 'Faustina',serif ;
		font-size: 1.17em ;
		font-weight: 400 ;
		line-height: 1.5 ;
		margin: 0em auto 1em auto ;
		padding: 1em 8em ;
/*		box-shadow: -8px 8px 0px rgba(86,133,244,.05) ;
		-webkit-box-shadow: -8px 8px 0px rgba(86,133,244,.05) ;
		-moz-box-shadow: -8px 8px 0px rgba(86,133,244,.05) ;
		-khtml-box-shadow: -8px 8px 0px rgba(86,133,244,.05) ; */
	}

	article h3 {
		font-weight: 700 ;
	}

	article h4 {
		font-weight: 600 ;
	}

	article h5 {
		font-weight: 500 ;
	}

	article h6 {
		font-weight: 400 ;
	}

	article p,
	article li {
		font-weight: 400 ;
	}

	article blockquote {
		font-size: .83em ;
	}

	article section blockquote.is-details {
		display: none ;
	}

		article ul:hover blockquote.is-details,
		article ol:hover blockquote.is-details {
		display: block ;
		font-size: .83em ;
		}

	article section blockquote.is-highlighted {
		display: block !important ;
	}

	article code {
		background-color: rgba(86,133,244,.1) ;
		font-family: 'Roboto Mono',monospace ;
		font-size: .83em ;
	}

	article sup {
	}

	article figure {
		background-color: rgba(86,133,244,.02) ;
		border: 1px solid rgba(86,133,244,.1) ;
		border-radius: .5em ;
		padding: 1em ;
	}

	article figcaption {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto',sans-serif ;
		font-size: .83em ;
	}


	/* HEADINGS */

	h1 {
		font-size: 1.5em ;
		font-weight: 700 ;
	}

	h2 {
		font-size: 1.5em ;
		font-weight: 700 ;
	}

	h3 {
		font-size: 1.17em ;
		font-weight: 700 ;
	}

	h4 {
		font-size: 1em ;
		font-weight: 600 ;
	}

	h5 {
		color: rgba(32,34,36,.8) ;
		font-family: 'Roboto',sans-serif ;
		font-size: .67em ;
		font-weight: 500 ;
		margin: 1em 0em ;
		text-transform: uppercase ;
	}

	h6 {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto',sans-serif ;
		font-size: .83em ;
		font-weight: 400 ;
		margin: 1em 0em ;
	}


	/* SECTION HEADINGS */

	section.summary h5.h5-type {
		color: rgba(219,68,55,1) ;
	}

	section h3.istype-latest {
		color: rgba(244,160,0,1) ;
		border-bottom: 1px dashed rgba(244,160,0,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.latest h3.istype-latest small.is-notif {
		color: rgba(244,160,0,.8) ;
		background-color: rgba(244,160,0,.1) ;
		border-radius: .5em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	section.pinned h3.istype-pinned {
		color: rgba(219,68,55,1) ;
		border-bottom: 1px dashed rgba(219,68,55,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.pinned h3.istype-pinned small.is-notif {
		color: rgba(219,68,55,.8) ;
		background-color: rgba(219,68,55,.1) ;
		border-radius: .5em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	section.topcited h3.istype-topcited,
	section h3.istype-reference {
		color: rgba(86,133,244,1) ;
		border-bottom: 1px dashed rgba(86,133,244,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.topcited h3.istype-topcited small.is-notif,
	section.bios h3.istype-reference small.is-notif {
		color: rgba(86,133,244,.8) ;
		background-color: rgba(86,133,244,.1) ;
		border-radius: .5em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	section h3.istype-relations {
		color: rgba(32,34,36,.8) ;
		border-bottom: 1px dashed rgba(86,133,244,.4) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	section.relations h3.istype-relations small.is-notif {
		color: rgba(32,34,36,.8) ;
		background-color: rgba(86,133,244,.05) ;
		border-radius: .5em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

	footer p.legend small.is-notif {
		color: rgba(32,34,36,.8) ;
		background-color: rgba(86,133,244,.05) ;
		border-radius: .5em ;
		margin: 0em 0em 0em .5em ;
		padding: .5em ;
	}

		section.latest:hover h3.istype-latest small.is-notif,
		section.pinned:hover h3.istype-pinned small.is-notif,
		section.topcited:hover h3.istype-topcited small.is-notif,
		section.bios:hover h3.istype-reference small.is-notif,
		section.relations:hover h3.istype-relations small.is-notif,
		footer p.legend:hover small.is-notif {
			display: none ;
		}

	section.summary h4.is-author {
		color: rgba(219,68,55,1) ;
		font-family: 'Roboto',sans-serif ;
		font-size: .83em ;
		font-weight: 700 ;
		text-transform: uppercase ;
	}

	section.summary h4.is-author b {
		font-weight: 900 ;
	}

	section.summary h1 span.h1-subtitle {
		color: rgba(32,34,36,.8) ;
		font-style: italic ;
		font-weight: 600 ;
	}

	section.summary h1 span.h1-subtitle br,
	article section.article-tocontents td.td-description span.tocontents-subtitle br {
		display: none ;
	}

	article h3.article-keypoints {
		color: rgba(219,68,55,1) ;
		border-bottom: 1px dashed rgba(219,68,55,1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	article h3.article-tocontents {
		color: rgba(32,34,36,1) ;
		border-bottom: 1px dashed rgba(86,133,244,.1) ;
		margin: 0em 0em 1em 0em ;
		padding: 0em 0em 1em 0em ;
	}

	article section.article-tocontents td.td-description span.tocontents-subtitle {
		color: rgba(32,34,36,.8) ;
		font-style: italic ;
	}


	/* HYPERLINKS */

	a {
		border-bottom: 1px dotted ;
		color: rgba(32,34,36,.6) ;
		text-decoration: none ;
	}

		a:hover {
			border-bottom: 1px solid ;
		}

	header a.path {
		font-weight: 600 ;
	}

	header a.path-root {
		font-weight: 400 ;
	}

	a.path-parent {
		color: rgba(32,34,36,.8) ;
		font-weight: 600 ;
	}

	a.path,
	a.path-root,
	a.path-parent,
	a.anchor {
		color: rgba(32,34,36,1) ;
	}

		a.path:hover,
		a.path-root:hover,
		a.path-parent:hover {
		}

		a.anchor:hover {
		}

	a.status-notfound {
		filter: alpha(opacity=40) ;
		opacity: .4 ;
	}

		/* SHORTCUT HYPERLINKS */

		p.shortcuts span.shortcut-link,
		p.shortcuts span.shortcut-link a {
			color: rgba(32,34,36,.6) ;
		}

		p.shortcuts span.is-highlighted,
		p.shortcuts span.is-highlighted a {
			color: rgba(219,68,55,1) ;
		}

		p.shortcuts span.is-reference,
		p.shortcuts span.is-reference a {
			color: rgba(86,133,244,1) ;
		}

		p.shortcuts span.is-feature,
		p.shortcuts span.is-feature a {
			color: rgba(15,157,88,1) ;
		}

		p.shortcuts span.is-version,
		p.shortcuts span.is-version a {
			color: rgba(244,160,0,1) ;
		}

		/* HYPERLINK TYPES */

		header a.path-root {
			color: rgba(219,68,55,1) !important ;
		}

		header a.path,
		header a.path-parent,
		header a.anchor {
			color: rgba(32,34,36,.8) ;
		}

		header p.header-anchors a.is-highlighted {
			color: rgba(219,68,55,1) ;
		}

		header p.header-anchors a.is-reference {
			color: rgba(86,133,244,1) ;
		}

		a.ahref-emoji,
		a.ahref-thumbnail {
			border: none ;
			text-decoration: none ;
		}

		a.ahref-thumbnail img {
			border-bottom: 1px dotted ;
		}

			a.ahref-thumbnail:hover img {
				border-bottom: 1px solid ;
			}

		table td.td-link:hover span.td-link-expands,
		table td.td-link:hover span.td-link-expands a {
			color: rgba(32,34,36,.6) ;
		}

		table td.td-link:hover span.is-reference,
		table td.td-link:hover span.is-reference a {
			color: rgba(86,133,244,.6) !important ;
		}

		section.latest table td.td-more,
		section.latest table td.td-more a {
			color: rgba(244,160,0,1) ;
			font-style: italic ;
			font-weight: 400 !important ;
			height: 3em ;
		}

		section.pinned table td.td-more,
		section.pinned table td.td-more a {
			color: rgba(219,68,55,1) ;
			font-style: italic ;
			font-weight: 400 !important ;
			height: 3em ;
		}

		section.topcited table td.td-more,
		section.topcited table td.td-more a {
			color: rgba(86,133,244,1) ;
			font-style: italic ;
			font-weight: 400 !important ;
			height: 3em ;
		}

		table tr.tr-item a:visited,
		section.latest table tr.tr-item a:visited,
		section.pinned table tr.tr-item a:visited,
		section.topcited table tr.tr-item a:visited,
		section.index table tr.tr-item a:visited,
		section.relations table tr.tr-item a:visited {
/*			color: rgba(134,64,229,.6) ; */
		}


	/* HORIZONTAL RULES */

	hr {
		border: none ;
		color: rgba(86,133,244,.2) ;
	}

	hr.solid {
		border-bottom: 1px solid rgba(86,133,244,.1) ;
	}

	hr.dashed {
		border-bottom: 1px dashed rgba(86,133,244,.1) ;
	}

	hr.istype-latest {
		border-bottom: 2px solid rgba(244,160,0,1) ;
		display: none ;
	}

	hr.istype-pinned {
		border-bottom: 2px solid rgba(219,68,55,1) ;
		display: none ;
	}

	hr.istype-topcited {
		border-bottom: 2px solid rgba(86,133,244,1) ;
		display: none ;
	}

	hr.istype-reference {
		border-bottom: 2px solid rgba(86,133,244,1) ;
		display: none ;
	}

	hr.istype-relations {
		border-bottom: 2px solid rgba(86,133,244,.6) ;
		display: none ;
	}

	hr.shortcuts {
		border-bottom: 2px solid rgba(86,133,244,.6) ;
	}

	header hr,
	footer hr,
	section.index hr,
	section.relations hr,
	section.gallery hr,
	section.latest hr,
	section.pinned hr,
	section.topcited hr,
	section.bios hr,
	section.cite hr,
	section.info hr,
	section.contact-card hr {
		display: none ;
	}


	/* MARK */

	mark {
		background-color: transparent ;
		color: inherit ;
	}

	mark.is-marked {
/*		background-color: rgba(255,254,209,1) ;
		border-radius: 0em 1em ; */
	}

	mark.is-feature {
		background-color: rgba(15,157,88,.1) ;
		border-radius: 0em 1em ;
		color: rgba(15,157,88,1) ;
	}

	a.istype-latest,
	a.istype-pinned,
	a.istype-topcited,
	a.is-highlighted,
	a.is-reference,
	a.is-feature,
	a.is-version, {
		border-radius: 0em 1em ;
	}

	blockquote.is-highlighted {
		background-color: rgba(219,68,55,.05) ;
		-webkit-box-shadow: -6px 0px 0px rgba(219,68,55,.6) ;
		-moz-box-shadow: -6px 0px 0px rgba(219,68,55,.6) ;
		-khtml-box-shadow: -6px 0px 0px rgba(219,68,55,.6) ;
	}

	li.is-upcoming {
		background-color: rgba(244,160,0,.05) ;
		border-radius: 1em ;
	}

	li.is-highlighted {
		background-color: rgba(219,68,55,.05) ;
		border-radius: 1em ;
	}


	/* PARAGRAPH, LIST, SMALL */

	blockquote {
		background-color: rgba(86,133,244,.05) ;
		color: rgba(32,34,36,.8) ;
		margin: 1em 0em 1em 1em ;
		padding: 1em ;
		-webkit-box-shadow: -6px 0px 0px rgba(86,133,244,.2) ;
		-moz-box-shadow: -6px 0px 0px rgba(86,133,244,.2) ;
		-khtml-box-shadow: -6px 0px 0px rgba(86,133,244,.2) ;
	}

	ol {
	}

	ul {
		list-style-type: square ;
	}

	li {
		margin: 4px 0px ;
	}

	li u,
	ol u,
	ul u,
	blockquote u {
		font-weight: 500 ;
		text-decoration: none ;
	}

/*	p.summary-contd {
		text-indent: 1em ;
	} */

	small {
	}

	small.header-note {
		display: none ;
	}

	small.note,
	small.note-expands {
		background-color: rgba(32,34,36,.02) ;
		border-radius: .5em ;
		color: rgba(32,34,36,.6) ;
		display: block ;
		font-family: 'Roboto',sans-serif ;
		font-size: .83em ;
		font-style: italic ;
		padding: 1em ;
	}

	small.note {
		margin: 1em 0em ;
	}

	small.note-expands {
		cursor: context-menu ;
		margin: 0em ;
	}


	/* TABLE */

	table {
	 	border-collapse: collapse ;
		font-size: .83em ;
		width: 100% ;
	}

	table tr.tr-th {
		background-color: none !important ;
		border: none !important ;
		cursor: default !important ;
	}

		table tr.tr-th:hover {
			background-color: none !important ;
			border: none !important ;
			cursor: default !important ;
			-webkit-box-shadow: none !important ;
			-moz-box-shadow: none !important ;
			-khtml-box-shadow: none !important ;
		}

	section.index-gallery table th.th-link,
	section.index-gallery table td.td-link,
	section.index-gallery table th.th-datemodified,
	section.index-gallery table td.td-datemodified,
	section.index-gallery table th.th-description,
	section.index-gallery table td.td-description,
	section.index-gallery table th.th-kind,
	section.index-gallery table td.td-kind,
	section.index-gallery table th.th-access,
	section.index-gallery table td.td-access {
		display: none ;
	}

	section.info table th,
	section.info table td, {
		color: rgba(32,34,36,.6) ;
	}

	/* TABLE TR */

	table tr.tr-item,
	table tr.tr-item-more,
	table tr.tr-core-item,
	table tr.tr-core-supdir,
	table tr.tr-core-subdir {
/*		background-color: rgba(255,255,255,.8) ; */
		border-top: 1px solid rgba(86,133,244,.05) ;
		border-bottom: 1px solid rgba(86,133,244,.05) ;
	}

		table tr.tr-core-item:hover,
		table tr.tr-item-more:hover,
		table tr.tr-core-supdir:hover,
		table tr.tr-core-subdir:hover {
			background-color: rgba(32,34,36,.05) !important ;
		}

		table tr.tr-item:hover {
			background-color: rgba(32,34,36,.05) !important ;
			-webkit-box-shadow: inset 4px 0px 0px rgba(86,133,244,1) ;
			-moz-box-shadow: -4px 0px 0px rgba(86,133,244,1) ;
			-khtml-box-shadow: -4px 0px 0px rgba(86,133,244,1) ;
/*			-webkit-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-moz-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-khtml-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ; */
		}

		table tr.tr-istype-latest:hover {
			background-color: rgba(32,34,36,.05) !important ;
			-webkit-box-shadow: inset 4px 0px 0px rgba(244,160,0,1) ;
			-moz-box-shadow: -4px 0px 0px rgba(244,160,0,1) ;
			-khtml-box-shadow: -4px 0px 0px rgba(244,160,0,1) ;
/*			-webkit-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-moz-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-khtml-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ; */
		}

		table tr.tr-istype-pinned:hover {
			background-color: rgba(32,34,36,.05) !important ;
			-webkit-box-shadow: inset 4px 0px 0px rgba(219,68,55,1) ;
			-moz-box-shadow: -4px 0px 0px rgba(219,68,55,1) ;
			-khtml-box-shadow: -4px 0px 0px rgba(219,68,55,1) ;
/*			-webkit-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-moz-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-khtml-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ; */
		}

		table tr.tr-istype-topcited:hover {
			background-color: rgba(32,34,36,.05) !important ;
			-webkit-box-shadow: inset 4px 0px 0px rgba(86,133,244,1) ;
			-moz-box-shadow: -4px 0px 0px rgba(86,133,244,1) ;
			-khtml-box-shadow: -4px 0px 0px rgba(86,133,244,1) ;
/*			-webkit-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-moz-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ;
			-khtml-box-shadow: 0px 4px 0px rgba(32,34,36,.2) ; */
		}

	section.latest table tr.tr-item {
		border-top: 1px solid rgba(244,160,0,.05) ;
		border-bottom: 1px solid rgba(244,160,0,.05) ;
	}

	section.pinned table tr.tr-item {
		border-top: 1px solid rgba(219,68,55,.05) ;
		border-bottom: 1px solid rgba(219,68,55,.05) ;
	}

	section.topcited table tr.tr-item {
		border-top: 1px solid rgba(86,133,244,.05) ;
		border-bottom: 1px solid rgba(86,133,244,.05) ;
	}

	table tr.tr-istype-pinned {
		background-color: rgba(219,68,55,.05) !important ;
/*		-webkit-box-shadow: inset 4px 0px 0px rgba(219,68,55,.2) ;
		-moz-box-shadow: -4px 0px 0px rgba(219,68,55,.2) ;
		-khtml-box-shadow: -4px 0px 0px rgba(219,68,55,.2) ; */
	}

	table tr.tr-item-more {
		background-color: rgba(32,34,36,.05) !important ;
		color: rgba(32,34,36,.8) !important ;
	}

		table tr.tr-item-more:hover {
			background-color: rgba(32,34,36,.08) !important ;
		}

		/* TABLE TH */

		table th {
			color: rgba(32,34,36,.8) ;
			padding-right: .5em ;
			text-align: left ;
			vertical-align: top ;
		}

		section.latest table th,
		section.pinned table th,
		section.topcited table th,
		section.index table th,
		section.relations table th {
			font-weight: 400 ;
			padding: 0em 0em 1em 0em ;
/*			text-transform: uppercase ; */
		}

		table th.th-icon,
		table td.td-icon {
		}

		table th.th-thumbnail,
		table td.td-thumbnail {
		}

		table th.th-link,
		table td.td-link {
		}

		table th.th-datemodified,
		table td.td-datemodified,
		table th.th-access,
		table td.td-access {
		}

		table th.th-description,
		table td.td-description {
		}

		table th.th-kind,
		table td.td-kind {
		}

		table th.th-istype-latest {
			color: rgba(244,160,0,1) ;
		}

		table th.th-istype-pinned {
			color: rgba(219,68,55,1) ;
		}

		table th.th-istype-topcited {
			color: rgba(86,133,244,1) ;
		}

		table th.th-istype-sortby {
			color: rgba(244,160,0,1) ;
/*			border-bottom: 1px solid rgba(32,34,36,.6) ; */
		}

		section.bios table,
		section.cite table,
		section.contact-card table {
			cursor: grab ;
			font-size: 1em ;
		}

		section.bios table th,
		section.cite table th,
		section.contact-card table th {
			color: rgba(86,133,244,1) ;
		}

			section.bios table th,
			section.cite table th,
			section.contact-card table th {
				color: rgba(86,133,244,1) ;
			}

		section.cite table th,
		section.info table th,
		section.contact-card table th {
			padding: 0em 1em 0em 0em ;
			text-align: right ;
			vertical-align: top ;
			width: 20% ;
		}

		section.article-tocontents table td.td-access {
			display: none ;
		}

		/* TABLE TD */

		table td {
			padding-right: 1em ;
			text-align: left ;
			vertical-align: top ;
		}

		table td.td-icon {
			color: rgba(32,34,36,.6) ;
		}

		table td.td-link {
			font-family: 'Roboto Mono',monospace ;
			padding-left: 1em ;
			text-indent: -1em ;
		}

		table td.td-link span.td-link-expands {
			display: none ;
		}

			table td.td-link:hover span.td-link-expands {
				color: rgba(32,34,36,.6) ;
				display: inline ;
			}

		table td.td-description,
		table td.td-description a {
			font-family: 'Faustina',sans-serif ;
			font-weight: 500 ;
		}

		table tr.tr-core-item td.td-description,
		table tr.tr-core-item td.td-description a,
		table tr.tr-istype-latest td.td-description,
		table tr.tr-istype-latest td.td-description a,
		table tr.tr-istype-pinned td.td-description,
		table tr.tr-istype-pinned td.td-description a,
		table tr.tr-istype-topcited td.td-description,
		table tr.tr-istype-topcited td.td-description a {
			font-weight: 600 !important ;
		}

		table td.td-kind,
		table td.td-access {
			color: rgba(32,34,36,.8) ;
			font-weight: 400 ;
			text-transform: uppercase ;
		}

		section.pinned table tr.tr-istype-pinned td.td-kind,
		table tr.tr-istype-pinned td.td-kind {
			color: rgba(219,68,55,.8) ;
			font-weight: 500 !important ;
		}

		section.pinned table tr.tr-istype-pinned td.td-access,
		table tr.tr-istype-pinned td.td-access {
			font-weight: 500 !important ;
		}

		table span.td-description-author {
			font-size: .83em ;
			padding-left: 1em ;
		}


	/* ELEMENT CLASSES */

	.byline,
	.byline a,
	.keywords,
	.keywords a {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto',sans-serif ;
	}

	span.byline-field {
		display: none ;
	}

		/* IMG */

		section.header-image img {
			height: auto ;
			width: 100% ;
			-webkit-filter: grayscale(100%) ;
			filter: grayscale(100%) ;
		}

		section.index img,
		section.gallery-index img,
		section.gallery img {
			border: 1px solid rgba(86,133,244,.1) ;
			cursor: zoom-in ;
			max-height: 60px ;
		}

		section.is-author img {
			border: 1px solid rgba(86,133,244,.1) ;
			cursor: zoom-in ;
			max-height: 120px ;
		}

			section.index img:hover,
			section.gallery-index img:hover,
			section.gallery img:hover,
			section.is-author img:hover {
				border-radius: 1em ;
			}

			section.index img:active,
			section.gallery-index img:active,
			section.gallery img:active,
			section.is-author img:active {
				border: 1px solid rgba(86,133,244,.2) ;
				border-radius: .5em ;
				cursor: grabbing ;
				max-height: 100% ;
			}

		article figure img {
			max-width: 100% ;
		}

		/* TYPES */

		.is-author,
		.is-author a,
		.is-creator,
		.is-creator a,
		.is-editor,
		.is-editor a {
			background-color: transparent ;
			font-weight: 700 ;
		}

		.is-topic {
			background-color: rgba(219,68,55,.1) ;
			border-radius: 0em 1em ;
			color: rgba(219,68,55,1) ;
			font-weight: 700 ;
			margin: 0em .5em 0em 0em ;
		}

		.is-date,
		.is-date-intext {
			color: rgba(244,160,0,1) ;
		}

		table td.td-datemodified .nd {
			display: none ;
		}

		.is-emoji {
			font-style: normal !important ;
			margin: 0em .25em 0em 0em ;
		}

		table th.th-icon,
		table td.td-icon {
			padding: 0em 1em ;
		}

		.is-comment {
		}

		.is-translation {
			color: rgba(32,34,36,.6) ;
			display: none ;
			font-style: italic ;
		}

		.is-cancelled {
			display: none ;
			text-decoration: line-through ;
		}

		.is-notawarded {
			display: none ;
		}

		.is-hidden {
			display: none !important ;
		}

		.lang-nl {
			font-style: italic ;
		}

		a.istype-latest,
		a.is-version {
/*			background-color: rgba(244,160,0,.1) ; */
		}

		a.is-highlighted,
		a.istype-pinned {
/*			background-color: rgba(219,68,55,.1) ; */
		}

		a.is-reference {
/*			background-color: rgba(86,133,244,.1) ; */
		}

		a.is-feature {
/*			background-color: rgba(15,157,88,.1) ; */
		}

		/* FOOTER LEGEND */

		footer p.legend span.legend-values-expands {
			display: none ;
		}

			footer p.legend:hover span.legend-values-expands {
				display: inline ;
			}

		footer p.legend span.is-highlighted {
			background-color: rgba(219,68,55,.1) ;
			border-radius: 0em 1em ;
			color: rgba(219,68,55,1) ;
		}

		footer p.legend span.is-date {
			background-color: rgba(244,160,0,.1) ;
			border-radius: 0em 1em ;
			color: rgba(244,160,0,1) ;
		}

		footer p.legend span.is-reference {
			background-color: rgba(86,133,244,.1) ;
			border-radius: 0em 1em ;
			color: rgba(86,133,244,1) ;
		}

		footer p.legend span.is-feature {
			background-color: rgba(15,157,88,.1) ;
			border-radius: 0em 1em ;
			color: rgba(15,157,88,1) ;
		}

		footer p.legend span.is-visited {
			background-color: rgba(134,64,229,.1) ;
			border-radius: 0em 1em ;
			color: rgba(134,64,229,1) ;
			display: none ;
		}

		footer p.legend span.is-marked {
			background-color: rgba(255,254,209,1) ;
			border-radius: 0em 1em ;
			display: none ;
		}

		/* DATED TAGS */

		/* UPCOMING */

		.is-upcoming,
		.y2026 {
			filter: alpha(opacity=80) ;
			opacity: .8 ;
		}

		/* SINCE 2017 (≤ 6 YRS AGO) */

		.y2025
		.y2024,
		.y2023,
		.y2022,
		.y2021,
		.y2020,
		.y2019 {
			filter: alpha(opacity=100) ;
			opacity: 1.0 ;
		}

		/* ARCHIVED (> 6 ... < 12 YRS AGO) */

		.y2018
		.y2017,
		.y2016,
		.y2015,
		.y2014,
		.y2013,
		.y2012 {
			filter: alpha(opacity=60) ;
			opacity: .6 ;
		}

		/* ARCHIVED (> 12 YRS AGO) */

		.y2011,
		.y2010,
		.y2009,
		.y2008 {
			filter: alpha(opacity=20) ;
			opacity: .2 ;
		}

			table tr.tr-istype-pinned,
			.is-highlighted,
			.is-upcoming:hover,
			.y2026:hover,

			.y2025:hover,
			.y2024:hover,
			.y2023:hover,
			.y2022:hover,
			.y2021:hover,
			.y2020:hover,
			.y2019:hover,
			.y2018:hover,

			.y2017:hover,
			.y2016:hover,
			.y2015:hover,
			.y2014:hover,
			.y2013:hover,
			.y2012:hover,
			.y2011:hover,
			.y2010:hover,
			.y2009:hover,
			.y2008:hover {
				filter: alpha(opacity=100) ;
				opacity: 1 ;
			}

			/* ARCHIVED TR ITEMS (> 6 YRS AGO) */

/*			table tr.y2024,
			table tr.y2023,
			table tr.y2022,
			table tr.y2021,
			table tr.y2020,
			table tr.y2019, */
			table tr.y2018,
			table tr.y2017,
			table tr.y2016,
			table tr.y2015,
			table tr.y2014,
			table tr.y2013,
			table tr.y2012,
			table tr.y2011,
			table tr.y2010,
			table tr.y2009,
			table tr.y2008 {
				background-color: rgba(86,133,244,.05) ;
				border-top: 1px solid rgba(86,133,244,.08) ;
				border-bottom: 1px solid rgba(86,133,244,.08) ;
			}

/*			table tr.y2024 td.td-description,
			table tr.y2024 td.td-description a,
			table tr.y2024 td.td-kind,
			table tr.y2024 td.td-access,
			table tr.y2023 td.td-description,
			table tr.y2023 td.td-description a,
			table tr.y2023 td.td-kind,
			table tr.y2023 td.td-access,
			table tr.y2022 td.td-description,
			table tr.y2022 td.td-description a,
			table tr.y2022 td.td-kind,
			table tr.y2022 td.td-access,
			table tr.y2021 td.td-description,
			table tr.y2021 td.td-description a,
			table tr.y2021 td.td-kind,
			table tr.y2021 td.td-access,
			table tr.y2020 td.td-description,
			table tr.y2020 td.td-description a,
			table tr.y2020 td.td-kind,
			table tr.y2020 td.td-access,
			table tr.y2019 td.td-description,
			table tr.y2019 td.td-description a,
			table tr.y2019 td.td-kind,
			table tr.y2019 td.td-access, */
			table tr.y2018 td.td-description,
			table tr.y2018 td.td-description a,
			table tr.y2018 td.td-kind,
			table tr.y2018 td.td-access,
			table tr.y2017 td.td-description,
			table tr.y2017 td.td-description a,
			table tr.y2017 td.td-kind,
			table tr.y2017 td.td-access,
			table tr.y2016 td.td-description,
			table tr.y2016 td.td-description a,
			table tr.y2016 td.td-kind,
			table tr.y2016 td.td-access,
			table tr.y2015 td.td-description,
			table tr.y2015 td.td-description a,
			table tr.y2015 td.td-kind,
			table tr.y2015 td.td-access,
			table tr.y2014 td.td-description,
			table tr.y2014 td.td-description a,
			table tr.y2014 td.td-kind,
			table tr.y2014 td.td-access,
			table tr.y2013 td.td-description,
			table tr.y2013 td.td-description a,
			table tr.y2013 td.td-kind,
			table tr.y2013 td.td-access,
			table tr.y2012 td.td-description,
			table tr.y2012 td.td-description a,
			table tr.y2012 td.td-kind,
			table tr.y2012 td.td-access,
			table tr.y2011 td.td-description,
			table tr.y2011 td.td-description a,
			table tr.y2011 td.td-kind,
			table tr.y2011 td.td-access,
			table tr.y2010 td.td-description,
			table tr.y2010 td.td-description a,
			table tr.y2010 td.td-kind,
			table tr.y2010 td.td-access,
			table tr.y2009 td.td-description,
			table tr.y2009 td.td-description a,
			table tr.y2009 td.td-kind,
			table tr.y2009 td.td-access,
			table tr.y2008 td.td-description,
			table tr.y2008 td.td-description a,
			table tr.y2008 td.td-kind,
			table tr.y2008 td.td-access {
				color: rgba(32,34,36,.8) ;
				font-weight: 500 ;
			}

}


@media screen and (max-width: 1024px) {


	/* PAGE SETUP */

	body {
		font-size: .83em ;
		margin: 0em 0em 2em 0em ;
		padding: 0em ;
	}

	main {
		margin: 0em ;
/*		margin: 1em ; */
		padding: 1em ;
		width: auto ;
		overflow: hidden ;
	}

	header,
	footer {
		margin: 0em 1em ;
	}


	/* PAGE SECTION */

	section {
		margin: 1em 0em ;
		padding: 1em ;
	}

		/* PAGE SECTION SUMMARY */

		section.summary {
			padding: 1em ;
		}

		section.summary blockquote {
			padding: 1em ;
		}


	/* PAGE ARTICLE */

	article {
		margin: 1em 0em ;
		padding: 1em ;
		width: auto ;
	}

	article section {
		margin: 1em 0em ;
		padding: 0em ;
	}

	article figcaption {
		color: rgba(32,34,36,.6) ;
		font-family: 'Roboto',sans-serif ;
		font-size: .83em ;
		text-align: right ;
	}


	/* TABLE */

	table th.th-link,
	table td.td-link,
/*	table th.th-description,
	table td.td-description, */
	table th.th-datemodified,
	table td.td-datemodified,
	table th.th-kind,
	table td.td-kind,
	table th.th-access,
	table td.td-access {
		display: none ;
	}

	section.contact-card table #Card-Email-Alt,
	section.contact-card table #Card-PersonalWebsite-Alt {
		display: none ;
	}


	/* PARAGRAPH, LIST, SMALL */

	small.header-note {
		background-color: rgba(255,254,209,1) ;
		border-radius: .5em ;
		color: rgba(32,34,36,1) ;
		display: block ;
		font-family: 'Roboto',sans-serif ;
		font-size: .83em ;
		font-style: italic ;
		padding: 1em ;
	}


	/* TYPES */

	.is-hidden {
		display: none !important ;
	}

}


@media print {

	@page {
		size: A4 ;
	}


	/* PAGE SETUP */

	body,
	main,
	header,
	footer {
		color: rgba(32,34,36,1) ;
		font-family: 'Faustina',sans-serif ;
		font-size: 11.5pt ;
		font-weight: 400 ;
		line-height: 1.5 ;
		-webkit-print-color-adjust: exact ;
	}

	footer {
		display: none ;
	}


	/* PAGE SECTION */

	header,
	section.bios,
	section.gallery,
	section.relations,
	section.summary-expands {
		display: none ;
	}

		/* PAGE SECTION SUMMARY */

		section.summary {
			page-break-after: always ;
		}


	/* HYPERLINKS */

	a {
		color: rgba(32,34,36,1) ;
		text-decoration: none ;
	}


	/* MARK */

	mark {
		background-color: transparent ;
	}

	u {
		font-weight: 600 ;
		text-decoration: none ;
	}


	/* TABLE */

	table,
	table tr,
	table th,
	table td {
		font-size: 9pt ;
		text-align: left ;
		vertical-align: top ;
	}

	section.index-gallery table th.th-link,
	section.index-gallery table td.td-link,
	section.index-gallery table th.th-datemodified,
	section.index-gallery table td.td-datemodified,
	section.index-gallery table th.th-description,
	section.index-gallery table td.td-description,
	section.index-gallery table th.th-kind,
	section.index-gallery table td.td-kind,
	section.index-gallery table th.th-access,
	section.index-gallery table td.td-access {
		display: none ;
	}


	/* ELEMENT CLASSES */

	small.header-note,
	section.header-image {
		display: none ;
	}

	section.summary p.summary {
		font-weight: 500 ;
	}

	section.summary span.byline-field,
	section.summary p.shortcuts {
		display: none ;
	}

	section.bios span.th-expands,
	section.bios span.td-expands,
	section.cite tr.tr-cite-section {
		display: none ;
	}

	section.gallery img,
	section.gallery-index img {
		max-height: 120px ;
	}

	.note,
	.note-expands,
	.td-link-expands {
		display: none ;
	}

	.is-hidden,
	.is-notawarded {
		display: none ;
	}

	footer span.legend-values-expands {
		display: none ;
	}

		/* TYPES */

		.is-author,
		.is-creator,
		.is-editor {
			font-weight: 700 ;
		}

		.is-topic {
			font-weight: 700 ;
		}

		.is-emoji {
			font-style: normal !important ;
			margin: 0em .25em 0em 0em ;
		}

		.is-translation {
			display: none ;
		}

		#Profile .is-date,
		#Profile .is-date-intext,
		#Resume .is-date,
		#Resume .is-date-intext {
			font-weight: 600 ;
		}

}

